<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='all_pages.css') }}">
    <script src="{{ url_for('static', filename='multiplication.js') }}" defer></script>
    <title>Document</title>
</head>
<body>
    <a href="{{ url_for('home') }}">Go to home page</a>

    <br> <br>

    <table id="times_table">
        {% for row in table %}
            <tr>
                {% for col in row %}

                    <td></td>

                {% endfor %}

            </tr>
        {% endfor %}
    </table>

    <h1 id="display_+"></h1>
    <h1 id ='question'></h1>
    <input autofocus id = 'input'>
    <button id="submit_button" onclick="submit()">submit</button>
    <h1 id="display_result"></h1>

    
</body>
</html>